{% extends "core/list.html" %}
{% block list %}
    {% for user in user_list %}
    <tr>
        <td>{{ user.pk }}</td>
        <td>{{ user.username }}</td>
        <td>{{user.first_name }} {{user.last_name }}</td>
        <td>
            {% if user.is_active %}
                Активный
            {% else %}
                Неактивый
            {% endif %}
        </td>
        <td>
            <a href="#">
                Edit
            </a>
        </td>
        <td>
            {% if user.is_active %}
            <a href="#">
                Выключить
            </a>
            {% else %}
            <a href="#">
                Включить
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
{% endblock list%}