{% extends "core/index.html" %}

{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col overflow-auto">
            <div class="card shadow">
                <div class="card-header">
                    <p><h5  class="text-center">Список аккаунтов</h5></p>
                    <a type = "button" class="btn btn-secondary float-left" href="/">Назад</a>
                    <a type="button" class="btn btn-secondary float-right" href="{% url 'account_create' %}">
                        Добавить
                    </a>
                </div>

                <div class="card-body">
                     <table class="table table-striped overflow-auto" onclick="idvalue()">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Наименование</th>
                                <th>Статус</th>
                                <th colspan="2" class = "text-center">Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for Customer in customer %}
                            <tr>
                                <td>{{ Customer.pk }}</td>
                                <td>{{ Customer.description }}</td>
                                <td>
                                    {% if Customer.customer.is_active %}
                                        Активный
                                    {% else %}
                                        Неактивый
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'account_detail' Customer.pk %}">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    {% if Customer.customer.is_active %}
                                    <a href="{% url 'account_deactivate' Customer.pk %}">
                                        Выключить
                                    </a>
                                    {% else %}
                                    <a href="{% url 'account_activate' Customer.pk %}">
                                        Включить
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                     </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}