{% extends "core/base.html" %}

{% block content %}
<table class="simple-little-table" onclick="idvalue()">
	<!--<tr>
		<th>id </th>
		<th>логин</th>
		<th>Пароль</th>
	</tr> Table Header -->
    {% for service in services %}
	<tr>
        <td>{{ service.pk }}</td>
        <td>{{ service.name }}</td>
        <td>{{ service.description }}</td>
		<td>{% if service.status %}
                Сервис включен
            {% else %}
                Сервис выключен
            {% endif %}</td>
        <td> {{ sevice.fk_permission.name }}</td>
	</tr><!-- Table Row -->
    {% endfor %}
</table>
{% endblock content%}