{% extends "core/base.html" %}

 {% block content %}
  {% if user.is_anonymous %}
    <div class="container h-75">
      <div class="row h-75 justify-content-center align-items-center">
        <form class="needs-validation col-auto align-self-center" action = "." method = "post" novalidate>
          {% csrf_token %}
          <div class="form-row">
              <div class="col">
                <label for="username">Введите логин пользователя:</label>
                <div class="input-group">
                <input type="text" class="form-control" name = "username" id="username" placeholder="Логин" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-tooltip">
                  Please choose a username.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <label for="password">Введите пароль:</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Пароль" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-tooltip">
                Please enter password.
              </div>
              {% if login_error %}
              <div class="invalid-tooltip">
                {{ login_error }}
              </div>
              {% endif %}
            </div>
          </div>
          </br>
          <button class="btn btn-primary" type="submit">Вход</button>
        </form>
        </div>
         <script id="rendered-js">
            (function() {
              'use strict';
              window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                  }, false);
                });
              }, false);
            })();
         </script>

    </div>
  {% endif %}
{% endblock content %}