{% extends "core/base.html" %}

  {% if login_error %}
    <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
  {% endif %}

{% block content %}
  {% if user.is_anonymous %}
    <div class="container-fluid h-100">
      <div class="row h-75 justify-content-center align-items-center">
        <form class="needs-validation col-auto align-self-center" action = "." method = "post" novalidate>
          {% csrf_token %}
          <div class="form-row">
              <div class="col">
                <label for="username">Введите логин пользователя:</label>
                <div class="input-group">
                <input type="text" class="form-control" name = "username" id="username" placeholder="Логин" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-tooltip">
                  Please choose a username.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <label for="password">Введите пароль:</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Пароль" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-tooltip">
                Please enter password.
              </div>
            </div>
          </div>
          </br>
          <button class="btn btn-primary" type="submit">Вход</button>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock content %}