{% extends "core/index.html" %}

{% block content %}
<div class="container mb-4 mt-3">
  <div class="row">
    {% if not user.is_staff and not user.is_superuser %}
    <div class="col-md-4 d-none d-md-block mx-0 px-1">
      <div class="card bg-light shadow mt-0">
        <div class="card-header">
          <h5 class="card-title text-center">Информация</h5>
        </div>
        <div class="card-body">
          <h5>{{ customer.description }}</h5>
          <ul>
            <li>
              <span class="label" st="label-main-id">ID Пользователя:</span>
              {{ user.pk }}
            </li>
            <li>
              <span class="label" st="label-main-id">Логин:</span>
              {{ user.username }}
            </li>
            <li>
              <span class="label" st="label-main-id">Тариф:</span>
              {{ user.groups.name }}
            </li>
            <li>
              <span class="label" st="label-main-id">Последний вход:</span>
              {{ user.last_login }}
            </li>
          </ul>
          <div class="col">
            <a href="#" class="btn btn-outline-info btn-sm btn-block">Профиль</a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col mx-0 px-1">
      <div class="card bg-light shadow overflow-auto">
        <div class="card-header">
          <h5 class="card-title text-center">Рабочая область</h5>
        </div>
        <div class="card-body">
          <div class="row align-items-start">
            <div class="col col-sm-3 text-center">
              <img src="https://img.icons8.com/nolan/96/000000/settings.png">
              <p>Настройки(для массовки)</p>
            </div>
            {% for shortcut in shortcuts %}
            <div class="col col-sm-3 text-center">
              {% if not shortcut.is_service %}
              <a href="{% url shortcut.url %}">
              {% else %}
              <a href="{{ shortcut.url }}">
              {% endif %}
                <img src="{{ shortcut.shortcut_path }}">
                <p>{{ shortcut.description }}</p>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}