{% extends 'core/list.html' %}

{% block list %}
    {% for package in package_list %}
    <tr>
        <td>{{ package.pk }}</td>
        <td>{{ package.description }}</td>
        <td>
            {% if package.status %}
                Активный
            {% else %}
                Неактивый
            {% endif %}
        </td>
        <td>
            <a class="btn btn-warning float-right" href="{% url 'package_delete' package.pk %}">
                Удалить
            </a>
            <a class="btn btn-warning float-right" href="{% url 'package_update' package.pk %}">
                Редактировать
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock list%}