{% extends "core/index.html" %}

{% block content %}
<div class="container">
    <div class="card overflow-auto  px-0 my-4 shadow">
        <div class="card-header">
            <h5 class="text-center">{{ page_title }}</h5>
        </div>
        <div class="card-body">
            {{ form.non_field_errors }}
            <form method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {{ field.help_text }}
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-6 overflow-auto" style="height: 250px">
                        {% for field in group %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {{ field.help_text }}
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-warning float-left" href="{% url 'package_list' %}">Назад</a>
                        <button class="btn btn-warning float-right">Сохранить</button>
                        {% if pk %}
                        <a class="btn btn-danger float-right mx-3" href="{% url 'package_delete' pk %}">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock content%}