{% extends "core/index.html" %}

 {% block content %}
  {% if user %}
    <div class="container">
      <div class="row">
        <form class="needs-validation col align-self-center" action = "." method = "post" novalidate>
        {% csrf_token %}
        {%for field in form %}
            <div class="form-col">
                {{ field.label_tag }}
                <div class="input-group">
                    {{ field }}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {{ field.errors }}
                    <div class="invalid-tooltip">Введите пароль</div>
                </div>
            </div>
        {% endfor %}
            </br>
            <button class="btn btn-primary" type="submit">Принять</button>
        </form>
        </div>
        {% if form.non_field_errors %}
        <div class="row justify-content-center">
          <div class="alert alert-danger" role="alert">
            <p><small>{{ form.non_field_errors }}</small></p>
          </div>
        </div>
        {% endif %}
        <script id="rendered-js">
            (function() {
              'use strict';
              window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                  }, false);
                });
              }, false);
            })();
         </script>
    </div>
  {% endif %}
{% endblock content %}