{% extends "core/index.html" %}

{% block content %}
<div class="container">
    <div class="card overflow-auto  px-0 my-4 shadow">
        <div class="card-header">
            <h5 class="text-center">{{ page_title }}</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        {% for field in form %}
                        <div class="form-group col">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.help_text }}
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                        <a class="btn btn-warning float-left" href="{% url 'services_list' %}">Назад</a>
                        <button class="btn btn-success float-right">Сохранить</button>
                        {% if pk %}
                        <a class="btn btn-danger float-right mx-3" href="{% url 'service_delete' pk %}">Удалить</a>
                        {% endif %}
                    </form>
                </div>
                </div>
        </div>
    </div>

</div>
{% endblock content%}