{% extends 'core/list.html' %}

{% block list %}
    {% for service in service_list %}
    <tr>
        <td>{{ service.pk }}</td>
        <td>{{ service.description }}</td>
        <td>
            {% if service.status %}
                Активный
            {% else %}
                Неактивый
            {% endif %}
        </td>
        <td>
            <a class="btn btn-warning float-right" href="{% url 'service_delete' service.pk %}">
                Удалить
            </a>
            <a class="btn btn-warning float-right" href="{% url 'service_update' service.pk %}">
                Редактировать
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock list%}