{% extends "core/index.html" %}

{% block content %}
<table class="table table-striped" onclick="idvalue()">
	<!--<tr>
		<th>id </th>
		<th>логин</th>
		<th>Пароль</th>
	</tr> Table Header -->

    {% for service in services %}
	<tr>
        <td>{{ service.description }}</td>
        <td>{{ service.price }}</td>
		<td>{% if service.status %}
                Сервис включен
            {% else %}
                Сервис выключен
            {% endif %}</td>
	</tr><!-- Table Row -->
    {% endfor %}
</table>
{% endblock content%}