<!DOCTYPE html>
<html lang="ru-Ru">
  <head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body translate="no">
{% block menu %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
{% endblock menu %}

{% block content %}{% endblock content %}
  <div class="footer fixed-bottom">
    <div class="card bg-dark">
      <div class="card-body">
        <p class="card-text text-light">With supporting text below as a natural lead-in to additional content</p>
      </div>
    </div>
  </div>
  <script src="{% static "js/jquery-3.4.0.min.js" %}"></script>
  <script src="{% static "js/bootstrap.js" %}"></script>
  <script src="{% static "js/main.js"%}"></script>
  <script id="rendered-js">
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
</body>
</html>